#!/usr/bin/env bash

PROJECT_DIR="$(pwd)"

PATH_add ${PROJECT_DIR}
PATH_add ${PROJECT_DIR}/node_modules/.bin

export NODE_ENV=development

# Read .env file and export variables
if [ -f ".env" ]; then
  dotenv
fi
