{
  "plugins": ["prettier"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@next/next/recommended",
    "plugin:react/jsx-runtime"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": "off" // todo: work out how to make this rule work with npm workspaces
  },
  "settings": {
    "next": {
      "rootDir": "packages/frontend"
    }
  }
}
