{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "prettier",
    "plugin:@next/next/recommended",
    "plugin:react/jsx-runtime"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "import/no-extraneous-dependencies": "off", // todo: work out how to make this rule work with npm workspaces
    "no-underscore-dangle": "off",
    "prettier/prettier": "error"
  },
  "settings": {
    "next": {
      "rootDir": "packages/frontend"
    }
  },
  "ignorePatterns": [
    "packages/frontend/tina/__generated__",
    "packages/frontend/public/admin"
  ]
}
